<a href="https://colab.research.google.com/github/aprendadatascience/projects/blob/master/%5BAprenda_Data_Science%5D_Pandas_Fun%C3%A7%C3%A3o_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importando pandas

In [11]:
import pandas as pd

## 0 - Carregando dataset de Atletas das Olimp√≠adas de Tokyo

In [12]:
url = 'https://github.com/aprendadatascience/datasets/blob/main/Athletes.xlsx?raw=true'
df = pd.read_excel(url)
df.head()

                Name     NOC           Discipline
0    AALERUD Katrine  Norway         Cycling Road
1        ABAD Nestor   Spain  Artistic Gymnastics
2  ABAGNALE Giovanni   Italy               Rowing
3     ABALDE Alberto   Spain           Basketball
4      ABALDE Tamara   Spain           Basketball

### Filtrando somente os atletas do Brasil

In [13]:
df_brazil= df[df.NOC == 'Brazil']
df_brazil.head()

                         Name     NOC Discipline
96   ADAO de SA Mateus Daniel  Brazil  Athletics
134              AGUIAR Mayra  Brazil       Judo
218           ALBRECHT Samuel  Brazil    Sailing
262                     ALINE  Brazil   Football
309     ALTHEMAN Maria Suelen  Brazil       Judo

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11085 entries, 0 to 11084
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        11085 non-null  object
 1   NOC         11085 non-null  object
 2   Discipline  11085 non-null  object
dtypes: object(3)
memory usage: 259.9+ KB

## 1- Gerando arquivo csv com os atletas do Brasil

In [15]:
df_brazil.to_csv('atletas_brasil.csv')

## 2- Arquivo csv sem √≠ndice

In [16]:
df_brazil.to_csv('atletas_brasil_sem_indice.csv',index=False)

##3- Selecionando apenas algumas colunas

In [17]:
df_brazil.to_csv("atletas_2_colunas.csv",
                 columns = ['Name','Discipline'], index=False)

##4- Retirando o cabe√ßalho/header

In [18]:
df_brazil.to_csv('atletas_sem_header.csv', columns = ['Name','Discipline'], 
                 index=False,
                 header = False)

##5- Utilizando outro separador no CSV

In [19]:
df_brazil.to_csv("b_ponto_virgula.csv", sep =';')
df_brazil.to_csv("b_espaco.csv", sep ='\t')

##6- Exportando o arquivo como zip

In [20]:
compression_opts = dict(method='zip',
                        archive_name='atl_br.csv')  
df_brazil.to_csv('out.zip', index=False,
          compression=compression_opts)